apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "k8s-event-monitor.fullname" . }}
  labels:
    {{- include "k8s-event-monitor.labels" . | nindent 4 }}
data:
  # Configuration for the application
  LOG_LEVEL: {{ .Values.config.logLevel | quote }}
  DATA_DIR: {{ .Values.persistence.mountPath | quote }}
  KUBE_WATCH_RESOURCES: |
    {{- range .Values.config.kubeWatchResources }}
    - {{ . }}
    {{- end }}
