apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "k8s-event-monitor.fullname" . }}
  labels:
    {{- include "k8s-event-monitor.labels" . | nindent 4 }}
data:
  # Watcher configuration file
  watcher.yaml: |
    resources:
    {{- range .Values.config.watcher.resources }}
      - group: {{ .group | quote }}
        version: {{ .version | quote }}
        kind: {{ .kind | quote }}
        {{- if .namespace }}
        namespace: {{ .namespace | quote }}
        {{- end }}
    {{- end }}
