.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.screenshot {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons a {
    margin: 0.5rem 0 !important;
  }
}
